<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tags
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
    <div *ngIf="!tags" class="spinnerSection" style="text-align: center;">
        <ion-spinner name="lines"></ion-spinner>
    </div>
    <ion-item *ngFor="let tag of tags"  [routerLink]="['/tags', tag.id]">
        <ion-avatar slot="start">
          <ion-icon name="pricetags"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ tag.name }}</h2>
        </ion-label>
      </ion-item>
</div>
</ion-content>
